<html>
<head>
	<title></title>
	<!-- jquery -->
	<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
	<!-- tether -->
	<link href="https://cdn.bootcss.com/tether/1.4.0/css/tether.min.css" rel="stylesheet">
	<script src="https://cdn.bootcss.com/tether/1.4.0/js/tether.min.js"></script>
	<!-- bootstrap -->
	<link href="https://cdn.bootcss.com/bootstrap/4.0.0-alpha.6/css/bootstrap-grid.min.css" rel="stylesheet">
	<script src="https://cdn.bootcss.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
	<!-- vue.js -->
	<script src="https://cdn.bootcss.com/vue/2.3.4/vue.common.js"></script>
	<!-- font-awsome -->
	<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
	<!-- font -->
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
</head>
<body>
	<style type="text/css">
		head body {height: 100%}
		body {font-family: 'Noto Sans', sans-serif;}
	</style>
	<div class='header'></div>
	<div class='container-fluid'>
		{% block content %}
		{% endblock %}
	</div>
	<div class='footer'></div>
</body>
</html>